:root{
  --redcomp:232,46,33;
  --tnsred:rgba(var(--redcomp),1);
  --gray:rgba(0,0,0,0.2);
  --exmarg:40px;
  --owidth:calc(100vw - var(--exmarg) * 2);
  --col:calc(var(--owidth) / 12);
  --background:white;
  --stickdist:20px;
}

body{
  width:100%;
  /* min-height:2000px; */
}
div{
  position:relative;
}
canvas{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}
audio{
  position:fixed;
  top:50vh;
  left:20vw;
  width:60vw;
}
/* typography-------------------- */
h1{
  font-family: neue-haas-unica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 40px;
}
p{
  font-family: times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
}
.logo{
  font-family: neue-display-ultra, sans-serif;
  font-weight: 700;
  color: var(--tnsred);
}
.emph{
  color: var(--tnsred);
}
/* strong{
  font-weight: 600;
} */

/* containers------------ */
.landing{
  width:100vw;
  height:100vh;
  /* border-bottom:1px solid black; */
}
.content{
  width:calc(var(--col) * 10);
  margin-left:calc(var(--col) + var(--exmarg));
  min-height:100px;
}

/* landing text ------------------*/
#describe{
  width:calc(var(--col) * 11);
  margin-left:var(--exmarg);
  margin-top:var(--exmarg);
  position:absolute;
  top:0;
  left:0;
}
.menu{
  display:inline;
  white-space: nowrap;
}
.section-link{
  /* text-decoration-line: underline;
  text-decoration-color: var(--tnsred); */
  margin-right: 10px;
  color:black;
  cursor:pointer;
}
.section-link::before{
  content:'→';

  color:var(--tnsred);
  text-decoration-color: var(--background);
  text-decoration-line: underline;
}
.bio{
  transition:opacity 0.3s;
}

/* navigation bar ----------------*/
#nav{
  z-index: 20;
  width:100vw;
  background-color: rgba(255,255,255,0);
  transition:background-color 0.3s;
  padding:20px;
  padding-left:var(--exmarg);
  padding-right:var(--exmarg);
  position:fixed;
  top:0px;
  left:0;
}
.logo.fixed{
  margin-right: 10px;
}
.fixed{
  opacity:0;
  /* transition:opacity 0.3s; */
}
.scroll{
  /* transition:opacity 0.3s; */
}

/* episode section --------------*/
.episode{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  padding-bottom: var(--exmarg);
}
.seekbar{
  position:absolute;
  top:0;
  left:0;
}

#abovethefold{
  position:absolute;
  width:calc(var(--col) * 10);
  transform:translateY(-100%);
  top:calc(var(--exmarg) * -1);
}
#playtoggle{
  display:inline;
  margin-right:40px;
}
#playtoggle svg{
  position:absolute;
  top:50%;
  transform:translate(0%, -50%);
  height:30px;
  fill:var(--tnsred);
  cursor:pointer;
}
.episode img{
  width:calc(var(--col) * 3);
  display:inline-block;
  vertical-align: top;

}
.episode .desc{
  box-sizing: border-box;
  width:calc(var(--col) * 5);
  display:inline-block;
  vertical-align: top;
  margin-top:20px;
  margin-right:var(--col);
}

/* svg wave ------------------ */
#wave{
  left:0;
  position:fixed;
  width:100%;
  top:20%;
  height:80%;
  pointer-events: none;
}
#wave path{
  fill:none;
  stroke-width:3px;
  stroke-linejoin:round;
  stroke-linecap:round;
  pointer-events: visibleStroke;
  stroke-opacity:1;
  transition:stroke-opacity 0.3s;
  stroke:#E82E21;
}






/* media queries --------------*/
@media(hover:hover){
  /* on desktops and all screens where hovering is possible */
  .section-link:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--tnsred);
  }
}
@media(max-width:768px){
  :root{
    --exmarg:30px;
  }
  #describe{
    width:var(--owidth);
  }
  .content{
    width:var(--owidth);
    margin-left: var(--exmarg);
  }
  .bio{
    margin-right:0;
    width:100%;
  }
  .episode{
    flex-flow: column nowrap;
  }
  .episode img{
    order:1;
    width:100%;
  }
  .episode .desc{
    width:100%;
    order:2;
    margin-right:0;
  }
  h1{
    font-size:30px;
    line-height: 36px;
  }
}


/* clear styles on seekbar */
input[type=range]{
    margin:0;
    width:100%;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background-color:rgba(var(--redcomp),0.2);
    /* background: #ddd;
    border: none;
    border-radius: 3px; */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    /* height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -4px; */
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
input[type=range]::-moz-focus-outer {
    border: 0;
    }
