:root{
  --redcomp:232,46,33;
  --tnsred:rgba(var(--redcomp),1);
  --exmarg:40px;
  --owidth:calc(100vw - var(--exmarg) * 2);
  --col:calc(var(--owidth) / 12);
  --background:white;
  --stickdist:20px;
  --browseheight:calc(var(--vh, 1vh) * 100);
  --svgoffset:calc(var(--vh, 1vh) * 25);
  --backheight:0;
  --showtracksize:0;
  --nonfoc:0;
  --adjustheight:0;
  --border:rgba(0,0,0,1);
}

html, body {
  overflow-x: hidden;
}
body{
  position:relative;
  /* min-height:2000px; */
}
div{
  position:relative;
}
#background{
  position:absolute;
  top:var(--browseheight);
  left:0;
  background-color: rgba(255,255,255,0.8);
  height:var(--backheight);
  width:100%;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}
canvas{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:var(--browseheight);
}
audio{
  position:fixed;
  top:50vh;
  left:20vw;
  width:60vw;
}
img{
  z-index:3;
}
.mobile{
  display:none;
}

/* typography-------------------- */
h1{
  font-family: neue-haas-unica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 40px;
  z-index:3;
  position:relative;
}
p{
  font-family: neue-haas-unica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  z-index:2;
}
.logo{
  font-family: neue-display-ultra, sans-serif;
  font-weight: 700;
  color: var(--tnsred);
  cursor:pointer;
}
.emph{
  color: var(--tnsred);
}
/* strong{
  font-weight: 600;
} */

/* containers------------ */
.landing{
  width:100vw;
  height:var(--browseheight);
  /* border-bottom:1px solid black; */
}
.content{
  width:calc(var(--col) * 10);
  margin-left:calc(var(--col) + var(--exmarg));
  min-height:100px;
  /* border-right:1px solid black; */
  /* background-color: rgba(255,255,255,0.8); */
}
.divider{
  position:absolute;
  height:100%;
  width:calc(100vw - var(--exmarg) - var(--col));
  background-color: rgba(255,255,255,0.9);
  bottom:0px;
  padding-left: 100vw;
  margin-left: -100vw;
  left:calc(-1*(var(--col) + var(--exmarg)));
  z-index:0;
  pointer-events: none;
}
.divider div{
  position:absolute;
  bottom:0px;
  right: 0;
  height:100%;
  width:100%;
  /* border-right:1px solid black; */
  border-bottom:2px solid rgba(0,0,0,0);
}

/* landing text ------------------*/
#describe{
  width:calc(var(--col) * 11);
  margin-left:var(--exmarg);
  margin-top:var(--exmarg);
  position:absolute;
  top:0;
  left:0;
  widows: 2;
  orphans: 2;
}
.menu{
  display:inline;
  white-space: nowrap;
}
.section-link{
  /* text-decoration-line: underline;
  text-decoration-color: var(--tnsred); */
  margin-right: 10px;
  color:black;
  cursor:pointer;
}
.section-link::before{
  content:'→';

  color:var(--tnsred);
  text-decoration-color: var(--background);
  text-decoration-line: underline;
}
.bio{
  transition:opacity 0.3s;
}

/* navigation bar ----------------*/
#nav{
  z-index: 20;
  width:100vw;
  background-color: rgba(255,255,255,0);
  transition:background-color 0.3s;
  padding:20px;
  padding-left:var(--exmarg);
  padding-right:var(--exmarg);
  position:fixed;
  top:0px;
  left:0;
}
.break{
  height:0px;
}
.logo.fixed{
  margin-right: 10px;
}
.fixed{
  opacity:0;
  pointer-events: none;
  /* transition:opacity 0.3s; */
}
.scroll{
  /* transition:opacity 0.3s; */
}

/* episode section --------------*/
.episode{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  /* padding-bottom: var(--exmarg); */
}
.seekbar{
  margin-top:20px;
  /* position:absolute;
  top:0;
  left:0; */
}

#abovethefold{
  position:absolute;
  width:calc(var(--col) * 10);
  transform:translateY(-80%);
  top:calc(var(--exmarg) * -1);
  /* widows: 2;
  orphans: 2; */
}
.player-head{
  margin-left: 40px;
}
#playtoggle{
  display:inline;
  left:-40px;
  /* margin-right:40px; */
}
#playtoggle svg{
  position:absolute;
  top:50%;
  transform:translate(0%, -50%);
  height:30px;
  fill:var(--tnsred);
  cursor:pointer;
}
.episode img{
  width:calc(var(--col) * 3);
  height:calc(var(--col) * 3);
  display:inline-block;
  vertical-align: top;

}
.episode .desc{
  box-sizing: border-box;
  width:calc(var(--col) * 6);
  display:inline-block;
  vertical-align: top;
  /* margin-top:20px; */
  margin-right:var(--col);
  margin-bottom:20px;
}
.togglesummary{
  white-space: nowrap;
  margin-left:10px;
  /* color:rgba(0,0,0,0.3); */
  cursor: pointer;
  text-decoration-line: underline;
}

#stream{
  display:flex;
  flex-flow: column wrap;
  /* padding-bottom: 20px; */
}
.allepisodes .divider div{
  border-bottom: 1px solid var(--border);
}
/* #focus.allepisodes{
  height:290px;
} */
#focus{
  height:var(--showtracksize, auto);
  max-height:inherit;
}
.showbox{
  height:var(--nonfoc);
}
/* .showbox:last-child{
  height:calc(var(--col) * 2 + 20px);
} */
.sector{
  min-width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* border-bottom:1px solid black; */
  padding-bottom:20px;
  transition: height 0.3s;
  overflow:visible;
}
#shows{
  height:120px;
}
/* #shows .divider div{
  border-bottom:1px solid black;
} */
#shows h1{
  position:absolute;
  bottom:40px;
}

.tracklist{
  position:relative;
  order:2;
  padding-left:20px;
  min-width:calc(7 * var(--col));
  max-width:calc(7 * var(--col));
  box-sizing: border-box;
  padding-bottom:3px;
  height:fit-content;
}
.sector:not(#focus) .expander{
  display:block;
}
.allepisodes{
  padding-bottom:20px;
  height: 100px;
}

.expander{
  width:100%;
  /* position:absolute;
  bottom:0; */
  /* right:0; */
  display:block;
  border-bottom:1px solid black;
  padding-top:7px;
  padding-bottom:7px;
}
.expbutton{
  width:100%;
  cursor:pointer;
  pointer-events: all !important;
}
#focus .expbutton{
  width:100px;
}

.expbutton::before{
  content:'+ tracklist';
}
#focus .expbutton::before{
  content:'✕ ';
}
.pageflip{
  position:absolute;
  top:7px;
  right:10px;
  height:100%;
}
.pageflip span{
  cursor:pointer;
  display:inline;
}
.noflip{
  opacity:0.5;
  pointer-events:none;
}


.newest-header{
  order:1;
  /* font-weight:600; */
  min-width:calc(2 * var(--col));
  max-width:calc(2 * var(--col));
  padding-top:7px;
}
.sector img{
  order:1;
  min-width:calc(2 * var(--col));
  max-width:calc(2 * var(--col));
  height:calc(2 * var(--col));
}
/* #focus img{
  min-width:calc(3 * var(--col));
  max-width:calc(3 * var(--col));
  height:calc(3 * var(--col));
} */
.show-title{
  font-weight:600;
  margin-bottom:7px;
}
.ep-preview{
  position:relative;
  background-color: rgba(255,255,255,0.8);
  display:none;
  border-bottom:1px solid black;
  padding-top:7px;
  padding-bottom:7px;
  padding-right: 10px;
  transition:opacity 0.3s;
  padding-right: 110px;
  /* text-indent:20px; */
}
.ep-preview::first-line{
  /* text-indent: 0px; */
}
.showlab{
  font-style: normal !important;
  color:rgba(0,0,0,0.3);
  font-weight: 300;
  /* margin-left:21px; */
}
/* .showlab::before{
  content:' • ';
} */
.date{
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position:absolute;
  bottom:7px;
  right:10px;
  font-weight: 300;
  color:black !important;
  font-style:normal !important;
  /* color:rgba(0,0,0,0.5); */
}
.epshowing{
  display:block;
}
.epshowing::before {
    content: '► ';
    margin-right:6px;
    font-size:15px;
    vertical-align:top;
    font-style: normal !important;
}
.sel-preview{
  color:var(--tnsred);
}
.sector:not(#focus) .ep-preview{
  opacity:0;
  pointer-events: none;
}
.sector:not(#focus) .tracklist{
  pointer-events: none;
}
/* .tracklist .epshowing:nth-child(6){
  border-bottom:none;
} */
.show-expand{
  display:none;
}
#focus .show-expand{
  display:inherit;
}





/* shows styling------------------*/






/* about styling------------- */
#about,#partners{
  padding-top:100px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: calc(var(--exmarg) * 2);
  z-index:10;
}
#about p{
  width:calc(var(--col) * 6);
}
#about img{
  min-width:calc(var(--col) * 3);
  max-width:calc(var(--col) * 3);
}
#about .divider div{
  border-top: 1px solid var(--border);
}


/* svg wave ------------------ */
#wave{
  left:0;
  position:absolute;
  width:100%;
  top:0;
  /* margin-top:20%; */
  height:calc(var(--vh, 1vh) * 80);
  top:var(--svgoffset);
  pointer-events: none;
  box-sizing: border-box;
}
#wave path{
  fill:none;
  stroke-width:3px;
  stroke-linejoin:round;
  stroke-linecap:round;
  pointer-events: visibleStroke;
  stroke-opacity:1;
  transition:stroke-opacity 0.3s;
  stroke:#E82E21;
}







/* media queries --------------*/
/* @media (min-width:1000px){
  h1{
    font-size: 40px;
    line-height: 45px;
  }
} */
@media(max-width:800px){
  .showlab{
    display:none;
  }
}

@media(max-width:768px){
  .sector img{
    min-width:calc(var(--col)*3);
    max-width:calc(var(--col)*3);
    height:calc(var(--col)*3);
  }
  .newest-header{
    min-width:calc(var(--col)*3);
    max-width:calc(var(--col)*3);
  }
  .tracklist{
    min-width:calc(9*var(--col));
    max-width:calc(9*var(--col));
  }
  .divider{
    left:calc(-1*var(--exmarg));
    width:calc(100vw - var(--exmarg));
  }
  #nav{
    width:var(--owidth);
  }
  :root{
    --svgoffset:calc(var(--vh, 1vh) * 20);
    --exmarg:30px;
  }
  #describe{
    width:var(--owidth);
  }
  .menu{
    white-space: normal;
  }
  .content{
    width:var(--owidth);
    margin-left: var(--exmarg);
  }
  .bio{
    margin-right:0;
    width:100%;
  }
  #abovethefold{
    width:var(--owidth);
  }


  h1{
    font-size:30px;
    line-height: 36px;
  }
  .mobile{
    display:inherit;
  }
  .desktop{
    display:none;
  }

  #about{
    flex-flow: column nowrap;
  }
  #about p{
    order:2;
    width:100%;
  }
  #about img{
    order:1;
    min-width:100%;
    max-width:100%;
    padding-bottom:20px;
  }
}
@media(max-width:650px){
  :root{
    --border:rgba(0,0,0,0);
  }
  .nextflip{
    margin-left: 10px;
  }
  .episode{
    flex-flow: column nowrap;
  }
  .episode img{
    width:calc(var(--col) * 10);
    margin-left:var(--col);
    height:inherit;
    order:1;
    margin-bottom:20px;
  }
  .episode .desc{
    width:var(--owidth);
    order:2;
  }
  .episode img{
    width:100%;
    margin-left:0px;
  }
  .sector{
    flex-flow:column nowrap;
  }
  .sector img{
    margin-left:calc(2 * var(--col));
    min-width:calc(var(--col)*7);
    max-width:calc(var(--col)*7);
    height:calc(var(--col)*7);
    /* min-width:calc(var(--col)*4);
    max-width:calc(var(--col)*4);
    height:calc(var(--col)*4); */
  }
  .newest-header{
    min-width:var(--owidth);
    max-width:var(--owidth);
  }
  .tracklist{
    min-width:var(--owidth);
    max-width:var(--owidth);
    padding-left:0px;
    padding-top:20px;
  }
  .show-info .show-title{
    display:block;
    padding-right: 20px;
  }
  .show-info .show-desc{
    display:block;
    padding-right: 20px;
  }
  /* .pageflip{
    display:inline !important;
    padding-right:0px !important;
  }
  .pageflip span{
    display:inline !important;
    padding-right:0px !important;
  } */
  .showbox{
    height:var(--nonfoc);
  }

}
@media(max-width:500px){
  .sdesktop{
    display:none;
  }
  h1{
    font-size:25px;
    line-height: 32px;
  }
  p{
    font-size:19px;
    line-height: 26px;
  }
  :root{
    --svgoffset:calc(var(--vh, 1vh) * 20);
  }
  .date{
    display:none;
  }
  .ep-preview{
    padding-right:20px;
  }
}

@media(hover:hover){
  /* on desktops and all screens where hovering is possible */
  .section-link:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--tnsred);
  }
  .show:not(#focused){
    cursor:pointer;
  }
  .show:not(#focused):hover p{
    text-decoration-line: underline;
  }
  .ep-preview:hover{
    cursor:pointer;
    font-style:italic;
  }
  .icons a:hover{
    color:rgba(0,0,0,1);
  }
}

/* clear styles on seekbar */
input[type=range]{
    background-color: rgba(255,255,255,0) !important;
    margin:0;
    margin-top:20px;
    width:100%;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    margin-top: 4px;
    height: 1px;
    background-color: black;
    /* height:3px; */
    /* background-color:rgba(var(--redcomp),0.2); */
    /* background: #ddd;
    border: none;
    border-radius: 3px; */
}

input[type=range]::-webkit-slider-thumb {
    cursor:grab;

    height:10px;
    margin-top:-4px;
    border-radius: 50%;
    width:10px;
    background-color: var(--tnsred);
    -webkit-appearance: none;
    border: none;
    /* height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -4px; */
}
input[type=range]::-webkit-slider-thumb:active{
  cursor:grabbing;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  margin-top: 4px;
  height: 1px;
  background-color:black;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color:black;
}
input[type="range"]::-moz-range-track {
  background-color:black;
}
input[type="range"]::-moz-range-thumb{
  cursor:grab;
  height:10px;
  margin-top:-4px;
  border-radius: 50%;
  width:10px;
  background-color: var(--tnsred);
  -webkit-appearance: none;
  border: none;
}
input[type="range"]::-moz-range-thumb:active{
  cursor:grabbing;
}

/* icon typeface */
@font-face {
  font-family: 'feed-icons';
  src: url('../assets/iconfont/icons.eot?24732877');
  src: url('../assets/iconfont/icons.eot?24732877#iefix') format('embedded-opentype'),
       url('../assets/iconfont/icons.woff?24732877') format('woff'),
       url('../assets/iconfont/icons.ttf?24732877') format('truetype'),
       url('../assets/iconfont/icons.svg?24732877#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icons{
  font-family:feed-icons;
  display:inline-block;
  font-size: 18px;
  font-weight: normal !important;
  font-style: normal !important;
  color:rgba(0,0,0,0.5);
  pointer-events: all;
}
.icons a{
  display:inline-block;
  margin-left: 10px;
  cursor:pointer;
}
.icon-spotify:before { content: '\e800'; } /* '' */
.icon-apple:before { content: ' \e802'; } /* '' */
.icon-stitcher:before { content: ' \e803'; } /* '' */
.icon-rss:before { content: ' \f09e'; } /* '' */
