:root{
  --redcomp:232,46,33;
  --tnsred:rgba(var(--redcomp),1);
  --exmarg:40px;
  --owidth:calc(100vw - var(--exmarg) * 2);
  --col:calc(var(--owidth) / 12);
  --background:white;
  --stickdist:20px;
  --browseheight:calc(var(--vh, 1vh) * 100);
  --svgoffset:20vh;
  --backheight:0;
  --showtracksize:0;
}

html, body {
  overflow-x: hidden;
}
body{
  position:relative;
  /* min-height:2000px; */
}
div{
  position:relative;
}
#background{
  position:absolute;
  top:var(--browseheight);
  left:0;
  background-color: rgba(255,255,255,0.8);
  height:var(--backheight);
  width:100%;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}
canvas{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:var(--browseheight);
}
audio{
  position:fixed;
  top:50vh;
  left:20vw;
  width:60vw;
}
img{
  z-index:3;
}
.mobile{
  display:none;
}
/* typography-------------------- */
h1{
  font-family: neue-haas-unica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 40px;
  z-index:3;
  position:relative;
}
p{
  font-family: neue-haas-unica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  z-index:2;
}
.logo{
  font-family: neue-display-ultra, sans-serif;
  font-weight: 700;
  color: var(--tnsred);
  cursor:pointer;
}
.emph{
  color: var(--tnsred);
}
/* strong{
  font-weight: 600;
} */

/* containers------------ */
.landing{
  width:100vw;
  height:var(--browseheight);
  /* border-bottom:1px solid black; */
}
.content{
  width:calc(var(--col) * 10);
  margin-left:calc(var(--col) + var(--exmarg));
  min-height:100px;
  border-right:1px solid black;
  /* background-color: rgba(255,255,255,0.8); */
}
.divider{
  position:absolute;
  height:100%;
  width:calc(100vw - var(--exmarg) - var(--col));
  background-color: rgba(255,255,255,0.9);
  bottom:0px;
  left:calc(-1*(var(--col) + var(--exmarg)));
  z-index:0;
}
.divider div{
  position:absolute;
  bottom:0px;
  height:100%;
  width:100%;
  /* border-right:1px solid black; */
  border-bottom:2px solid rgba(0,0,0,0);
}

/* landing text ------------------*/
#describe{
  width:calc(var(--col) * 11);
  margin-left:var(--exmarg);
  margin-top:var(--exmarg);
  position:absolute;
  top:0;
  left:0;
}
.menu{
  display:inline;
  white-space: nowrap;
}
.section-link{
  /* text-decoration-line: underline;
  text-decoration-color: var(--tnsred); */
  margin-right: 10px;
  color:black;
  cursor:pointer;
}
.section-link::before{
  content:'→';

  color:var(--tnsred);
  text-decoration-color: var(--background);
  text-decoration-line: underline;
}
.bio{
  transition:opacity 0.3s;
}

/* navigation bar ----------------*/
#nav{
  z-index: 20;
  width:100vw;
  background-color: rgba(255,255,255,0);
  transition:background-color 0.3s;
  padding:20px;
  padding-left:var(--exmarg);
  padding-right:var(--exmarg);
  position:fixed;
  top:0px;
  left:0;
}
.break{
  height:0px;
}
.logo.fixed{
  margin-right: 10px;
}
.fixed{
  opacity:0;
  pointer-events: none;
  /* transition:opacity 0.3s; */
}
.scroll{
  /* transition:opacity 0.3s; */
}

/* episode section --------------*/
.episode{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  /* padding-bottom: var(--exmarg); */
}
.seekbar{
  margin-top:20px;
  /* position:absolute;
  top:0;
  left:0; */
}

#abovethefold{
  position:absolute;
  width:calc(var(--col) * 10);
  transform:translateY(-80%);
  top:calc(var(--exmarg) * -1);
}
#playtoggle{
  display:inline;
  margin-right:40px;
}
#playtoggle svg{
  position:absolute;
  top:50%;
  transform:translate(0%, -50%);
  height:30px;
  fill:var(--tnsred);
  cursor:pointer;
}
.episode img{
  width:calc(var(--col) * 3);
  height:calc(var(--col) * 3);
  display:inline-block;
  vertical-align: top;

}
.episode .desc{
  box-sizing: border-box;
  width:calc(var(--col) * 6);
  display:inline-block;
  vertical-align: top;
  /* margin-top:20px; */
  margin-right:var(--col);
}
.togglesummary{
  margin-left:10px;
  /* color:rgba(0,0,0,0.3); */
  cursor: pointer;
  text-decoration-line: underline;
}

#stream{
  display:flex;
  flex-flow: column wrap;
  min-height:var(--browseheight);
}
.allepisodes .divider div{
  border-bottom: 1px solid black;
}
#focus.allepisodes{
  height:290px;
}
#focus{
  height:var(--showtracksize);
  max-height:inherit;
}
.showbox{
  height:calc(var(--col) * 2);
}
.showbox:last-child{
  margin-bottom:20px;
}
.sector{
  min-width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* border-bottom:1px solid black; */
  padding-top:10px;
  padding-bottom:10px;
  transition: height 0.3s;
}
#shows{
  height:100px;
}
/* #shows .divider div{
  border-bottom:1px solid black;
} */
#shows h1{
  position:absolute;
  bottom:20px;
}

.tracklist{
  position:relative;
  order:2;
  padding-left:20px;
  min-width:calc(7 * var(--col));
  max-width:calc(7 * var(--col));
  box-sizing: border-box;
  padding-bottom:3px;
}
.sector:not(#focus) .expander{
  display:block;
}
.allepisodes{
  padding-bottom:20px;
  height: 100px;
}
.showbox{
  /* height:120px; */
  /* align-items: flex-end; */
  overflow-y: visible;
}
.expander{
  width:100%;
  /* position:absolute;
  bottom:0; */
  /* right:0; */
  display:block;
  border-bottom:1px solid black;
  padding-top:7px;
  padding-bottom:7px;
}
.expbutton{
  width:100%;
  cursor:pointer;
}
#focus .expbutton{
  width:100px;
}

.expbutton::before{
  content:'+ tracklist';
}
#focus .expbutton::before{
  content:'✕ ';
}

.newest-header{
  order:1;
  /* font-weight:600; */
  min-width:calc(2 * var(--col));
  max-width:calc(2 * var(--col));
  padding-top:7px;
}
.sector img{
  order:1;
  min-width:calc(2 * var(--col));
  max-width:calc(2 * var(--col));
  height:calc(2 * var(--col));
}
/* #focus img{
  min-width:calc(3 * var(--col));
  max-width:calc(3 * var(--col));
  height:calc(3 * var(--col));
} */
.show-title{
  font-weight:600;
  margin-bottom:7px;
}
.ep-preview{
  background-color: rgba(255,255,255,0.8);
  display:none;
  border-bottom:1px solid black;
  padding-top:7px;
  padding-bottom:7px;
  transition:opacity 0.3s;
}
.epshowing::before {
    content: '► ';
    margin-right:6px;
    font-size:15px;
    vertical-align:top;
    font-style: normal !important;
}
.sel-preview{
  color:var(--tnsred);
}
.sector:not(#focus) .ep-preview{
  opacity:0;
  pointer-events: none;
}
/* .tracklist .epshowing:nth-child(6){
  border-bottom:none;
} */






/* shows styling------------------*/

#focused{
  order:1;
  min-width:100%;
  min-height:calc(var(--col) * 4);
  margin-right:0px;
  flex-flow: row nowrap;
}
#focused img{
  width:calc(var(--col) * 4);
  height:calc(var(--col) * 4);
  margin-bottom:0px;
}
.show{
  order:2;
  min-width:calc(var(--col) * 3);
  max-width:calc(var(--col) * 3);
  min-height:calc(var(--col) * 3);
  /* background-color: rgba(0,0,0,0.2); */
  margin-bottom:20px;
  margin-right:20px;
  display:flex;
  flex-flow: column nowrap;
}
#focused p{
  margin-left:20px;
}
.show-expand{
  display:none;
}
.episodes span:first-child{
  display:block;
  margin-bottom:10px;
}


/* .epwave1{
  display:block;

} */
.epshowing{
  display:block;
}

.show:not(#focused) .show-title{
  display:none;
}

#focused .show-expand{
  display:inherit;
}
.show img{
  width:100%;
  margin-bottom:10px;
}
.sec-head{
  position:absolute;
  top:30px;
  left:0;
}
.pageflip{
  margin-top:5px;
  text-decoration-line: underline;
}
.pageflip span{
  cursor:pointer;
  display:inline;
  margin-right:20px;
}

/* about styling------------- */
#about,#partners{
  padding-top:100px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: calc(var(--exmarg) * 2);
}
#about p{
  width:calc(var(--col) * 6);
}
#about img{
  min-width:calc(var(--col) * 3);
  max-width:calc(var(--col) * 3);
}
#about .divider div{
  border-top: 1px solid black;
}


/* svg wave ------------------ */
#wave{
  left:0;
  position:absolute;
  width:100%;
  top:0;
  /* margin-top:20%; */
  height:80vh;
  top:var(--svgoffset);
  pointer-events: none;
  box-sizing: border-box;
}
#wave path{
  fill:none;
  stroke-width:3px;
  stroke-linejoin:round;
  stroke-linecap:round;
  pointer-events: visibleStroke;
  stroke-opacity:1;
  transition:stroke-opacity 0.3s;
  stroke:#E82E21;
}







/* media queries --------------*/


@media(max-width:768px){
  .tracklist{
    width:calc(8*var(--col));
  }
  .divider{
    left:calc(-1*var(--exmarg));
  }
  #nav{
    width:var(--owidth);
  }
  :root{
    --exmarg:30px;
  }
  #describe{
    width:var(--owidth);
  }
  .menu{
    white-space: normal;
  }
  .content{
    width:var(--owidth);
    margin-left: var(--exmarg);
  }
  .bio{
    margin-right:0;
    width:100%;
  }
  .episode{
    flex-flow: column nowrap;
  }
  #abovethefold{
    width:var(--owidth);
  }
  .episode img{
    width:calc(var(--col) * 10);
    margin-left:var(--col);
    height:inherit;
    order:1;
    margin-bottom:20px;
  }
  #focused img{
    width:calc(var(--col) * 10);
    margin-left:var(--col);
    height:inherit;
    margin-bottom:20px;
  }
  .episode .desc{
    width:100%;
    order:2;
    margin-right:0;
  }
  h1{
    font-size:30px;
    line-height: 36px;
  }
  .mobile{
    display:inherit;
  }
  #focused{
    flex-flow: column nowrap;
  }
  #focused p{
    margin-left:0px;
  }
  .show{
    min-width:calc(var(--col) * 5);
    max-width:calc(var(--col) * 5);
  }
  #about{
    flex-flow: column nowrap;
  }
  #about p{
    order:2;
    width:100%;
  }
  #about img{
    order:1;
    min-width:100%;
    max-width:100%;
    padding-bottom:20px;
  }
}
@media(max-width:650px){
  h1{
    font-size:25px;
    line-height: 30px;
  }
  .episode img{
    width:100%;
    margin-left:0px;
  }
  #focused img{
    width:100%;
    margin-left:0px;
  }
  .show{
    min-width:100%;
    max-width:100%;
  }
  .show img{
    width:calc(var(--col)*6);
    height:calc(var(--col)*6);
    margin-left:calc(var(--col)*3);
    margin-bottom:20px;
  }
}
@media(max-width:500px){
  :root{
    --svgoffset:30vh;
  }
}

@media(hover:hover){
  /* on desktops and all screens where hovering is possible */
  .section-link:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--tnsred);
  }
  .show:not(#focused){
    cursor:pointer;
  }
  .show:not(#focused):hover p{
    text-decoration-line: underline;
  }
  .ep-preview:hover{
    cursor:pointer;
    font-style:italic;
  }
}

/* clear styles on seekbar */
input[type=range]{
    background-color: rgba(255,255,255,0) !important;
    margin:0;
    margin-top:20px;
    width:100%;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    margin-top: 4px;
    height: 1px;
    background-color: black;
    /* height:3px; */
    /* background-color:rgba(var(--redcomp),0.2); */
    /* background: #ddd;
    border: none;
    border-radius: 3px; */
}

input[type=range]::-webkit-slider-thumb {
    cursor:grab;

    height:10px;
    margin-top:-4px;
    border-radius: 50%;
    width:10px;
    background-color: var(--tnsred);
    -webkit-appearance: none;
    border: none;
    /* height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -4px; */
}
input[type=range]::-webkit-slider-thumb:active{
  cursor:grabbing;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  margin-top: 4px;
  height: 1px;
  background-color:black;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color:black;
}
input[type="range"]::-moz-range-track {
  background-color:black;
}
input[type="range"]::-moz-range-thumb{
  cursor:grab;
  height:10px;
  margin-top:-4px;
  border-radius: 50%;
  width:10px;
  background-color: var(--tnsred);
  -webkit-appearance: none;
  border: none;
}
input[type="range"]::-moz-range-thumb:active{
  cursor:grabbing;
}
